body {
    font-family: Arial, Helvetica, sans-serif;
}

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portrait-container {
    min-width: 200px;
    max-width: 300px;
}

.cat-portrait {
    width: 100%;
    height: auto;
}

section {
    display: grid;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

.about-me-container {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.062) 0px 10px 20px, rgba(0, 0, 0, 0.151) 0px 2px 2px;
    max-width: 600px;
    margin-left: .5rem;
}

.project-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .5rem;
}

.project-placeholder-1,
.project-placeholder-2,
.project-placeholder-3,
.project-placeholder-4,
.project-placeholder-5,
.project-placeholder-6 {
    width: 100%;
    height: auto;
}

.project-text-placeholder {
    display: flex;
    font-size: x-large;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    margin: 0;
}

.project-1,
.project-2,
.project-3,
.project-4,
.project-5,
.project-6 {
    box-shadow: rgba(0, 0, 0, 0.103) 0px 10px 20px, rgba(0, 0, 0, 0.151) 0px 2px 2px;
}

.project-placeholder-1 {
    background-color: #faedcb;
}

.project-placeholder-2 {
    background-color: #c9e4de;
}

.project-placeholder-3 {
    background-color: #c6def1;
}

.project-placeholder-4 {
    background-color: #dbcdf0;
}

.project-placeholder-5 {
    background-color: #f2c6de;
}

.project-placeholder-6 {
    background-color: #f7d9c4;
}

@media (max-width: 800px) {
    .about-me {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .project-container {
        grid-template-columns: 1fr 1fr;
    }

    .project-1,
    .project-2,
    .project-3,
    .project-4,
    .project-5,
    .project-6 {
        display: grid;
        justify-content: space-evenly;
        justify-items: center;
        align-content: space-evenly;
        align-items: center;
    }

    .project-text-placeholder {
        width: auto;
    }
}

@media (max-width: 500px) {
    .project-container {
        display: flex;
        flex-direction: column;
    }
}