@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: large;
}

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    text-decoration: underline;
}

.portrait-container {
    min-width: 200px;
    max-width: 300px;
}

.cat-portrait {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

section {
    display: grid;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

.about-me-container {
    border-radius: 5px;
    max-width: 600px;
    margin-left: .5rem;
}

.project-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .5rem;
}

.github-icon,
.external-link-icon,
.map-marker-icon,
.phone-icon,
.email-icon {
    width: 25px
}

h3 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

h3,
.project-description {
    margin: 1rem 1rem 0;
}

.project-placeholder-1,
.project-placeholder-2,
.project-placeholder-3,
.project-placeholder-4,
.project-placeholder-5,
.project-placeholder-6 {
    width: 100%;
    height: auto;
}

.project-text-placeholder {
    display: flex;
    font-size: x-large;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    margin: 0;
}

.project-1,
.project-2,
.project-3,
.project-4,
.project-5,
.project-6 {
    box-shadow: rgba(0, 0, 0, 0.103) 0px 10px 20px, rgba(0, 0, 0, 0.151) 0px 2px 2px;
    max-width: 275px;
    min-height: 260px;
}

.project-placeholder-1 {
    background-color: #faedcb;
}

.project-placeholder-2 {
    background-color: #c9e4de;
}

.project-placeholder-3 {
    background-color: #c6def1;
}

.project-placeholder-4 {
    background-color: #dbcdf0;
}

.project-placeholder-5 {
    background-color: #f2c6de;
}

.project-placeholder-6 {
    background-color: #f7d9c4;
}

.location-placeholder,
.phone-number-placeholder,
.email-placeholder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 300px;
}

@media(min-width: 2560px) {
    section {
        margin-top: 3rem;
    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

@media (max-width: 800px) {
    .about-me {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .project-container {
        grid-template-columns: 1fr 1fr;
    }

    .project-1,
    .project-2,
    .project-3,
    .project-4,
    .project-5,
    .project-6 {
        display: grid;
        justify-content: space-evenly;
        justify-items: center;
        align-content: space-evenly;
        align-items: center;
    }

    .project-text-placeholder {
        width: auto;
    }

    .github-icon,
    .external-link-icon {
        margin-left: 1rem;
    }

    .contact-placeholder {
        margin-left: 1rem;
    }
}


@media (max-width: 500px) {
    .project-container {
        display: flex;
        flex-direction: column;
    }

    .contact-placeholder {
        margin-left: 1rem;
    }
}